@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for moving the car across the screen */
@keyframes car-move {
  0% {
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(950%);
  }
}

.animate-car-move {
  animation: car-move 8s linear infinite;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-control-container {
  display: none; /* Hide default controls */
}

.map-container {
  position: relative;
  height: 384px; /* h-96 equivalent */
  border-radius: 1rem; /* rounded-xl */
  overflow: hidden;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
